* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
:root {
    --bg-color: rgb(12, 3, 17);
    --main-color: rgb(215, 175, 252);
    --second-bg-color: rgb(18, 5, 26);
    --text-color: white;
}
html {
    font-size: 0.62rem;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    font-family: "Poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html::-webkit-scrollbar {
    width: 0.6rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
.header {
    position: fixed;
    height: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 9%;
    background-color: var(--second-bg-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    -webkit-filter: drop-shadow(10px);
}
.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
    text-shadow: 1px 0 10px rgb(231, 200, 249);
}
.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: rgb(209, 163, 255);
    border-bottom: 2px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width: 995px) {
    #menu-icon {
        display: inline-block;
    }
    .navbar {
        display: none;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 50%;
        background-color: var(--second-bg-color);
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 1rem;
        padding: 1rem 3%;
        z-index: 1;
    }
    .navbar a {
        display: block;
        margin: 3rem 0;
        color: var(--main-color);
        font-size: 2rem;
    }
    .navbar a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
    #menu-icon:active + .navbar, .navbar:hover {
        display: block;
    }
}
section {
    min-height: 95vh;
    padding: 10rem 5rem 5rem;
    scroll-snap-type: y mandatory;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    background: var(--bg-color);
    color: aliceblue;
    & span{
        margin-left:7px;
    }
}
.home .home-content {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}
span {
    margin-left: 20px;
    color: var(--main-color);
}
.home-content h3 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    width: 27vw;
    border-radius: 50%;
    filter: drop-shadow(0 0 15px var(--main-color));
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    -webkit-filter: drop-shadow(0 0 15px var(--main-color));
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.home-content span {
    color: var(--main-color);
}
.social-icons a:hover {
    color: rgb(22, 9, 33);
    transform: scale(1.2) translateY(-3px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    -webkit-transform: scale(1.2) translateY(-3px);
    -moz-transform: scale(1.2) translateY(-3px);
    -ms-transform: scale(1.2) translateY(-3px);
    -o-transform: scale(1.2) translateY(-3px);
}
.typing-text {
    font-size: 3.4rem;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    border-left: 3px solid var(--main-color);
    right: -8px;
    animation: cursor 0.3s infinite, typing 20s steps(12) infinite;
    -webkit-animation: cursor 0.6s infinite, typing 20s steps(12) infinite;
}
@keyframes cursor {
    to {
        border-left: 0.5rem solid var(--main-color);
    }
}
@keyframes words {
    0%, 25% {
        content: 'Web Developer';
    }
    26%, 50% {
        content: 'Data Scientist';
    }
    51%, 75% {
        content: 'Software Developer';
    }
    76%, 100% {
        content: 'Web Designer';
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
@media (max-width: 600px) {
    .home {
        flex-direction: column;
        margin: 0 auto;
        gap: 3rem;
    }
    .home-content p {
        font-size: 1.7rem;
    }
    .home-content h1{
        font-size: 2.7rem;
    }
    .home-content h3{
        font-size: 1.8rem;
    }
    .home-img img {
        width: 40vw;
    }
}
@media (min-width: 600px) and (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 0 auto;
        gap: 3rem;
    }
    .home-content p {
        font-size: 1.7rem;
    }
    .home-content h1 {
        font-size: 2.7rem;
    }
    .home-content h3 {
        font-size: 1.8rem;
    }
    .home-img img {
        width: 40vw;
    }
}
#edu {
    scroll-snap-align: start;
    background: var(--bg-color);
    padding: 12vh 0;
    font-size:1.7rem;
}

.edu .timeline {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    top:20px;
    bottom:0;
}

.edu .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--main-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.edu .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.edu .content{
    padding:1rem 2rem;
    background-color: var(--main-color);
}
.edu .container::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    right: -8px;
    background-color:var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 10;
}

.edu .left {
    left: 0;
}

.edu .right {
    left: 50%;
}

.edu .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.edu .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.edu .right::after {
    left: -10px;
}
.edu .content .tag{
    font-size:1.7rem;
    color:black;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.edu .content .desc{
    margin-left:1.5rem;
    padding-bottom:1rem;
}
.edu .content .desc h2{
    font-size:1.7rem;
    font-weight:600;
}
.edu .content .desc p, .desc ul{
    font-size:1.7rem;
    color:rgb(66, 10, 68);
    font-weight:500;
}
.edu .content .desc .div1{
    color:rgb(123, 7, 90);
}
@media screen and (max-width: 600px) {
    .edu .timeline {
        margin-top: 2rem;
    }
    .edu .timeline::after {
        display: none;
    }
    .edu .container {
        width: 100%;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .edu .container :is(.tag, .desc) {
        font-size: 2rem;
    }
    .edu .container::after {
        display: none;
    }
    .edu .left::before,
    .edu .right::before {
        display: none;
    }
    .edu .right::after {
        display: none;
    }
}

.skills {
    padding:12vh 0;
    margin-top: 30px;
    background-color: var(--bg-color);
    & .heading{
        font-size: 2.7em;
        margin-left: 0vw;
    }
}

.skills .container {
    background: #945ec645;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container .row {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.8rem;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding-inline-start: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
}
.skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}
.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}
.skills .container .bar .info img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
    .skills .container {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 5px;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container .bar{
        width:95%;
    }
    
}
@media screen and (min-width: 601px) and (max-width: 995px) {
    .skills .container {
        width: 90%;
        padding: 1rem;
        margin: auto;
        margin-top: 10px;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .skills .container .bar {
        width: 100%;
        height: 100%;
    }
}
#exp {
    scroll-snap-align: start;
    width: 100vw;
    background: var(--bg-color);
    padding: 12vh 0;
    font-size:1.7rem;
}
.exp .timeline {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    top:0;
    bottom:0;
}
.exp .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--main-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.exp .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.exp .content{
    padding:1rem 2rem;
    background-color: var(--main-color);
}
.exp .container::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    right: -8px;
    background-color:var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 10;
}

.exp .left {
    left: 0;
}

.exp .right {
    left: 50%;
}

.exp .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.exp .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.exp .right::after {
    left: -10px;
}
.exp .content .tag{
    font-size:1.7rem;
    color:rgb(105, 34, 107);
    padding-top: 1.5rem;
}
.exp .content .company{
    display: flex;
    justify-content: space-between;
    & h4{
        font-size:1.7rem;
        font-weight: 540;
    }
    & h5{
        color: rgb(119, 63, 145);
    }
}
.exp .content .desc{
    margin-left:1.5rem;
    padding-bottom:1rem;
}

.exp .content .desc p, .desc ul{
    font-size:1.6rem;
    color:rgb(66, 10, 68);
    font-weight:500;
}

@media screen and (max-width: 600px){
    .exp .timeline {
        margin-top: 2rem;
    }
    .exp .timeline::after {
        display: none;
    }
    .exp .container {
        width: 100%;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .exp .container :is(.tag, .desc) {
        font-size: 2rem;
    }
    .exp .container::after {
        display: none;
    }
    .exp .left::before,
    .exp .right::before {
        display: none;
    }
    .exp .right::after {
        display: none;
    }
}

.contact{
    scroll-snap-align: start;
    width: 100vw;
    background: var(--bg-color);
    padding: 12vh 0;
    font-size:1.7rem;
}
.contact h2{
    margin-bottom:3rem;
    color: white;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom:3rem;
    text-align:center;
}
.contact form .input-box{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 1rem;
}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    padding:1.5rem;
    font-size:1.6rem;
    color: var(--text-color);
    background-color: #2a12415c;
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin:1rem 0;
    resize: none;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}
.contact form .btn{
    width:30%;
    height: 7vh;
    border-radius: 0.8rem;
    color: var(--main-color);
    background-color: transparent;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2rem;
    border: 2px solid var(--main-color);
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    &:hover{
        filter:drop-shadow( 2px 2px 8px var(--main-color));
        color: var(--bg-color);
        background-color: var(--main-color);
        transition: 0.3 ease;
        -webkit-filter:drop-shadow( 2px 2px 9px var(--main-color));
    }
}
@media (max-width: 768px) {
    .contact form .input-box {
        flex-direction: column;
        align-items: center;
    }

    .contact form .btn {
        width: 30vw;
        height: 7vw;
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .contact form .input-box input,
    .contact form textarea {
        width:90%;
        font-size: 1.4rem;
    }

    .contact form .btn {
        width: 40vw;
        height: 5vh;
        font-size: 1.4rem;
    }
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}
.footer .socials {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .socials a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.footer .socials a:hover {
    transform: scale(1.2) translateY(-5px);
    -webkit-transform: scale(1.2) translateY(-5px);
    -moz-transform: scale(1.2) translateY(-5px);
    -ms-transform: scale(1.2) translateY(-5px);
    -o-transform: scale(1.2) translateY(-5px);
    background-color: black;
    color: var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.footer ul li a:hover {
    border-bottom: 3px solid black;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}
@media (max-width: 991px){
    .footer{
        padding: 2rem 3%;
    }
}